body {
  background-color: #777;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.MusicPlayer {
  text-align:center;
}

.center-text {
  text-align:center;
}

.vertical-center {
  display: flex;
  justify-content: left;
  align-items: center;
}

.center {
  margin: 0 auto;
  text-align: left;
}

.margin15px {
  margin: 2vh;
}

.ArtistCard {
  display: flex;
  justify-content: center;
  margin: 2vh;
  padding: 1vh;
  /*border: 2px black solid;*/
  height: 5vh;
  width: 25vw;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  border-radius: 1vh;
  background-color: #EEE;
  background-image: linear-gradient(-135deg, #bbb, white);
}

.AlbumCard {
  display: flex;
  justify-content: left;
  margin: 2vh;
  padding: 1vh;
  /*border: 2px black solid;*/
  height: auto;
  width: 25vw;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  border-radius: 1vh;
  background-color: #EEE;
  background-image: linear-gradient(-135deg, #bbb, white);
}

table {
  border-collapse: collapse;
}
